@import url('../css/config.css');

.content-comment-video {
    margin-top: 10px;
    margin-bottom: 20px;
    width: 100%;
    display: block;
}

.comments {
    width: 100%;
    display: block;
    padding-right: 30px;
}

.card-comment {
    position: relative;
    background-color: var(--cards-color);
    margin: 30px auto;
    width: 100%;
    padding: 15px;
}

.img-user {
    position: absolute;
    left: 15px;
    top: 30px;
}

.img-user h5 {
    border: 1px solid var(--white-color);
    font-family: var(--font-roboto);
    font-size: 20px;
    border-radius: 100px;
    padding: 10px 15px;
}

.text-comment {
    margin-left: 70px;
}

.card-comment p {
    margin-top: 6px;
    font-family: var(--font-roboto);
    color: var(--white-color);
    font-size: 15px;
}

.card-comment a {
    margin-top: 10px;
    display: block;
    font-family: var(--font-roboto);
    color: var(--white-color);
    font-size: 15px;
}

@media screen and (max-width: 1060px) {
    .comments {
        padding-right: 0px;
    }
}

@media screen and (max-width: 650px) {
    .card-comment {
        padding: 5px;
    }

    .img-user {
        left: 15px;
        top: 20px;
    }

    .img-user h5 {
        font-size: 16px;
        border-radius: 100px;
        padding: 12px 17px;
    }
}

@media screen and (max-width: 450px) {
    .card-comment p {
        font-size: 13px;
    }
    
}